@import "tailwindcss";

@layer base {
    :root {
        /* Theme Flat */
        --color-bg: #f5f5f5;
        --color-text: #111;
        --color-card: #fff;
        --shadow-card: 0 2px 6px rgba(0,0,0,0.1);
        --radius: 0.5rem;
    }

    [data-theme="dark"] {
        --color-bg: #1a1a1a;
        --color-text: #f5f5f5;
        --color-card: #222;
        --shadow-card: 0 2px 10px rgba(0,0,0,0.4);
    }

    [data-theme="skeuo"] {
        --color-bg: #d2b48c;
        --color-text: #3e2f1c;
        --color-card: #f8e7c9;
        --shadow-card: inset 2px 2px 5px rgba(255,255,255,0.6),
        inset -3px -3px 8px rgba(0,0,0,0.3);
        --radius: 1rem;
    }
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: background 0.3s, color 0.3s;
}
